@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@layer base {
    /* Buttons use pointer cursor */
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    --color-accent: #37b1d3;
}

#root {
    @apply bg-gray-100;
}
